@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
   @Model.getCPUUsage()

    <table id="myTable" class="table table-sm table-striped">
        <thead class="thead-dark">
            <tr class="d-flex">
                <th>Id</th>
                <th>Process Name</th>
                <th>Physical Memory</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var processInformation in Model.Processes)
        {
            <tr class="d-flex">
                <td>@processInformation.Id</td>
                <td>@try{@processInformation.MainModule.ModuleName}catch{@processInformation.ProcessName}</td>
                <td>@processInformation.WorkingSet64</td>
            </tr>
        }
        </tbody>
    </table>
</div>
